{"openapi":"3.0.3","info":{"title":"家装销售与设计-设计子系统","description":"设计子系统接口","termsOfService":"http://ziroom.com/","contact":{"name":"家装设计组","url":"https://www.ziroom.com"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0"},"version":"1.0"},"servers":[{"url":"http://hddp-design.kq.ziroom.com:80","description":"Inferred Url"}],"tags":[{"name":"/如视","description":"Rushi Controller"},{"name":"/装修设计/设计/测试","description":"Hddp Design Test Controller"},{"name":"/订单图纸","description":"Order Drawing Controller"},{"name":"装修设计/外部对接/定制方案","description":"Custom Scheme Controller"}],"paths":{"/api/customScheme/createCustomScheme":{"post":{"tags":["装修设计/外部对接/定制方案"],"summary":"保存定制方案","operationId":"createCustomSchemeUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/保存 定制方案 请求参数"}}}},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/Result«CustomSchemeCreateResp»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/customScheme/queryCustomSchemes":{"post":{"tags":["装修设计/外部对接/定制方案"],"summary":"查询定制方案列表","operationId":"queryCustomSchemesUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/查询 定制方案 请求参数"}}}},"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/Result«List«CustomSchemeQueryResp»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v4/hddp/design/flushResource":{"post":{"tags":["/装修设计/设计/测试"],"summary":"图片资源刷到MySQL库中","description":"图片资源刷到MySQL库中","operationId":"flushResourceUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FlushDataRange"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResult«FlushDataResult»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v4/hddp/design/flushScheme":{"post":{"tags":["/装修设计/设计/测试"],"summary":"刷新Scheme","description":"刷新Scheme","operationId":"flushSchemeUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FlushDataRange"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResult«FlushDataResult»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v4/hddp/design/flushSchemeOrder":{"post":{"tags":["/装修设计/设计/测试"],"summary":"刷新订单相关数据","description":"刷新订单相关数据","operationId":"flushOrderResourceUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FlushDataRange"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResult«FlushDataResult»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v4/hddp/design/test2":{"post":{"tags":["/装修设计/设计/测试"],"summary":"多数据源","description":"多数据源","operationId":"test2UsingPOST","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v4/hddp/design/test3":{"post":{"tags":["/装修设计/设计/测试"],"summary":"多数据源2","description":"多数据源2","operationId":"test3UsingPOST","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v4/hddp/design/testTransaction":{"post":{"tags":["/装修设计/设计/测试"],"summary":"事务测试","description":"测试所有与事务相关的操作","operationId":"testUsingPOST","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v4/hddp/design/xml":{"post":{"tags":["/装修设计/设计/测试"],"summary":"XML Mapper","description":"多数据源","operationId":"xmlUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestReq"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResult«string»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/drawing/info":{"post":{"tags":["/订单图纸"],"summary":"根据订单号 查询图纸相关信息","description":"有的订单没有图纸信息,返回不存在图纸信息","operationId":"queryOrderDrawingInfoUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryOrderDrawingInfoRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResult«OrderDrawingInfo»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v4/design/modify/{directory}":{"get":{"tags":["/如视"],"summary":"modifyBackground","operationId":"modifyBackgroundUsingGET","parameters":[{"name":"directory","in":"path","description":"directory","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v4/design/rushi/module/changeBackground":{"post":{"tags":["/如视"],"summary":"根据家具修改背景墙","description":"如视通过OPENAPI调用","operationId":"modifyBackgroundByRoomFurnitureUsingPOST","parameters":[{"name":"roomFurnitureInfo","in":"query","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/修改模型背景返回对象"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"components":{"schemas":{"ApiResult«FlushDataResult»":{"title":"ApiResult«FlushDataResult»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/FlushDataResult"},"message":{"type":"string"}}},"ApiResult«OrderDrawingInfo»":{"title":"ApiResult«OrderDrawingInfo»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/OrderDrawingInfo"},"message":{"type":"string"}}},"ApiResult«string»":{"title":"ApiResult«string»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"string"},"message":{"type":"string"}}},"CustomSchemeCreateResp":{"title":"CustomSchemeCreateResp","type":"object","properties":{"createResult":{"type":"boolean"},"outerEdgeGroupId":{"type":"string"},"uid":{"type":"string"}}},"CustomSchemeQueryResp":{"title":"CustomSchemeQueryResp","type":"object","properties":{"buildArea":{"type":"number","format":"double"},"communityCode":{"type":"string"},"communityName":{"type":"string"},"imageUrl":{"type":"string"},"outerEdgeGroupId":{"type":"string"},"parlorCnt":{"type":"integer","format":"int32"},"pictureUrl":{"type":"string"},"rawPictureUrl":{"type":"string"},"roomCount":{"type":"integer","format":"int32"},"styleName":{"type":"string"},"styleType":{"type":"integer","format":"int32"},"uid":{"type":"string"},"url":{"type":"string"}}},"FlushDataRange":{"title":"FlushDataRange","type":"object","properties":{"endIndex":{"type":"integer","description":"结束记录ID","format":"int32","example":100},"password":{"type":"string","description":"密码","example":"***"},"startIndex":{"type":"integer","description":"开始记录ID","format":"int32","example":0}}},"FlushDataResult":{"title":"FlushDataResult","type":"object","properties":{"count":{"type":"integer","description":"转换的条数","format":"int32","example":12}}},"OrderDrawingInfo":{"title":"OrderDrawingInfo","type":"object","properties":{"auditLine":{"type":"string"},"auditState":{"type":"integer","format":"int32"},"auditTotalLevel":{"type":"integer","format":"int32"},"createTime":{"type":"string"},"currentAuditLevel":{"type":"integer","format":"int32"},"currentAuditUserId":{"type":"string"},"id":{"type":"integer","format":"int32"},"lastAuditTime":{"type":"string"},"orderCode":{"type":"string"}}},"QueryOrderDrawingInfoRequest":{"title":"QueryOrderDrawingInfoRequest","type":"object","properties":{"orderCode":{"type":"string","description":"订单编号","example":"1111190919104646210lOX"}}},"Result«CustomSchemeCreateResp»":{"title":"Result«CustomSchemeCreateResp»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/CustomSchemeCreateResp"},"message":{"type":"string"},"success":{"type":"boolean"}}},"Result«List«CustomSchemeQueryResp»»":{"title":"Result«List«CustomSchemeQueryResp»»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/CustomSchemeQueryResp"}},"message":{"type":"string"},"success":{"type":"boolean"}}},"TestReq":{"title":"TestReq","type":"object","properties":{"uuid":{"type":"string","description":"UUID","example":"a1319cb4-7b87-4de2-9617-1e487bf66fb5"}}},"保存 定制方案 请求参数":{"title":"保存 定制方案 请求参数","type":"object","properties":{"buildArea":{"type":"number","description":"建筑面积","format":"double","example":73.8},"communityCode":{"type":"string","description":"小区Code"},"communityName":{"type":"string","description":"小区名称"},"imageUrl":{"type":"string","description":"户型图URL"},"outerEdgeGroupId":{"type":"string","description":"户型组Id"},"parlorCnt":{"type":"integer","description":"厅数量","format":"int32"},"pictureUrl":{"type":"string","description":"压缩后封面图"},"rawPictureUrl":{"type":"string","description":"封面原图"},"roomCount":{"type":"integer","description":"卧室数量","format":"int32"},"styleName":{"type":"string","description":"方案风格名称"},"styleType":{"type":"integer","description":"方案风格类型","format":"int32","example":0},"uid":{"type":"string","description":"用户ID"},"url":{"type":"string","description":"方案地址"}}},"修改模型背景返回对象":{"title":"修改模型背景返回对象","type":"object","properties":{"code":{"type":"string","description":"修改模型背景返回对象","example":"200"},"data":{"type":"string","description":"数据","example":"success"},"message":{"type":"string","description":"返回的消息","example":"0"},"requestId":{"type":"string","description":"网关跟踪的数据，业务不需要关心","example":"e6ec5c7328c84cd3a5f1713ed7fb5d54"},"status":{"type":"string","description":"网关的状态 ，业务不需要关心","example":"success"}}},"查询 定制方案 请求参数":{"title":"查询 定制方案 请求参数","type":"object","properties":{"communityCode":{"type":"string","description":"小区Code"},"outerEdgeGroupId":{"type":"string","description":"户型组ID","example":"123"},"styleType":{"type":"integer","description":"方案风格类型（Code）","format":"int32","example":100},"uid":{"type":"string","description":"用户Id","example":"123"}}}}}}