{"openapi":"3.0.3","info":{"title":"hddp-contract 的接口文档","description":"家装合同系统","contact":{"name":"家装设计组","url":"https://www.ziroom.com"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0"},"version":"1.0"},"servers":[{"url":"http://hddp-contract.kq.ziroom.com:80","description":"Inferred Url"}],"tags":[{"name":"base-info-controller","description":"Base Info Controller"},{"name":"compensate-controller","description":"Compensate Controller"},{"name":"contract-audit-controller","description":"Contract Audit Controller"},{"name":"contract-controller","description":"Contract Controller"},{"name":"contract-goods-check-controller","description":"Contract Goods Check Controller"},{"name":"test-controller","description":"Test Controller"}],"paths":{"/api/hddp/baseinfo/moneyafterdiscount":{"post":{"tags":["base-info-controller"],"summary":"moneyAfterDiscount","operationId":"moneyAfterDiscountUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccurateEstimatesPaymentReq"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«List«PaymentResp»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hddp/baseinfo/moneyafterdiscount2":{"post":{"tags":["base-info-controller"],"summary":"moneyAfterDiscount2","operationId":"moneyAfterDiscount2UsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoughEstimatesPaymentReq"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«List«PaymentResp»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hddp/baseinfo/paytypes":{"get":{"tags":["base-info-controller"],"summary":"workPeriod","operationId":"workPeriodUsingGET_1","parameters":[{"name":"cityCode","in":"query","description":"cityCode","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«List«PayTypeResp»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hddp/baseinfo/workperiod":{"get":{"tags":["base-info-controller"],"summary":"workPeriod","operationId":"workPeriodUsingGET","parameters":[{"name":"ziroomVersionId","in":"query","description":"ziroomVersionId","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"degreeType","in":"query","description":"degreeType","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"bedroomQuantity","in":"query","description":"bedroomQuantity","required":false,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«int»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hddp/compensate/createReceiptAfterComplete":{"get":{"tags":["compensate-controller"],"summary":"createReceiptAfterComplete","operationId":"createReceiptAfterCompleteUsingGET","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":true,"style":"form","schema":{"type":"string"}},{"name":"costCode","in":"query","description":"costCode","required":false,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hddp/compensate/createReceivableBill":{"get":{"tags":["compensate-controller"],"summary":"createReceivableBill","operationId":"createReceivableBillUsingGET","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hddp/compensate/deleteContractForNotUid":{"post":{"tags":["compensate-controller"],"summary":"deleteContractForNotUid","operationId":"deleteContractForNotUidUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteContractReq"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hddp/compensate/financeIncome":{"get":{"tags":["compensate-controller"],"summary":"financeIncome","operationId":"financeIncomeUsingGET","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hddp/compensate/signContract":{"get":{"tags":["compensate-controller"],"summary":"signContract","operationId":"signContractUsingGET","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/contractAudit/check":{"get":{"tags":["contract-audit-controller"],"summary":"checkAudit","operationId":"checkAuditUsingGET","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«int»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["contract-audit-controller"],"summary":"checkAudit","operationId":"checkAuditUsingPUT","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«int»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["contract-audit-controller"],"summary":"checkAudit","operationId":"checkAuditUsingPOST","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«int»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["contract-audit-controller"],"summary":"checkAudit","operationId":"checkAuditUsingDELETE","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«int»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"options":{"tags":["contract-audit-controller"],"summary":"checkAudit","operationId":"checkAuditUsingOPTIONS","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«int»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"head":{"tags":["contract-audit-controller"],"summary":"checkAudit","operationId":"checkAuditUsingHEAD","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«int»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"patch":{"tags":["contract-audit-controller"],"summary":"checkAudit","operationId":"checkAuditUsingPATCH","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«int»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"trace":{"tags":["contract-audit-controller"],"summary":"checkAudit","operationId":"checkAuditUsingTRACE","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«int»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/hddp/contract/billSummary":{"get":{"tags":["contract-controller"],"summary":"查询装修账单汇总信息","operationId":"billSummaryUsingGET","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["contract-controller"],"summary":"查询装修账单汇总信息","operationId":"billSummaryUsingPUT","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["contract-controller"],"summary":"查询装修账单汇总信息","operationId":"billSummaryUsingPOST","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["contract-controller"],"summary":"查询装修账单汇总信息","operationId":"billSummaryUsingDELETE","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"options":{"tags":["contract-controller"],"summary":"查询装修账单汇总信息","operationId":"billSummaryUsingOPTIONS","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"head":{"tags":["contract-controller"],"summary":"查询装修账单汇总信息","operationId":"billSummaryUsingHEAD","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"patch":{"tags":["contract-controller"],"summary":"查询装修账单汇总信息","operationId":"billSummaryUsingPATCH","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"trace":{"tags":["contract-controller"],"summary":"查询装修账单汇总信息","operationId":"billSummaryUsingTRACE","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/hddp/contract/contractorBillSummary":{"get":{"tags":["contract-controller"],"summary":"查询签约人和账单信息","operationId":"contractorBillSummaryUsingGET","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["contract-controller"],"summary":"查询签约人和账单信息","operationId":"contractorBillSummaryUsingPUT","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["contract-controller"],"summary":"查询签约人和账单信息","operationId":"contractorBillSummaryUsingPOST","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["contract-controller"],"summary":"查询签约人和账单信息","operationId":"contractorBillSummaryUsingDELETE","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"options":{"tags":["contract-controller"],"summary":"查询签约人和账单信息","operationId":"contractorBillSummaryUsingOPTIONS","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"head":{"tags":["contract-controller"],"summary":"查询签约人和账单信息","operationId":"contractorBillSummaryUsingHEAD","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"patch":{"tags":["contract-controller"],"summary":"查询签约人和账单信息","operationId":"contractorBillSummaryUsingPATCH","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"trace":{"tags":["contract-controller"],"summary":"查询签约人和账单信息","operationId":"contractorBillSummaryUsingTRACE","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/hddp/contract/create":{"post":{"tags":["contract-controller"],"summary":"创建合同","operationId":"createContractUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateContractReq"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«CreateContractResp»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hddp/contract/deleteContract":{"post":{"tags":["contract-controller"],"summary":"作废合同","operationId":"deleteContractUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteContractReq"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hddp/contract/exportContract":{"get":{"tags":["contract-controller"],"summary":"家装合同配置开票数据导出","operationId":"exportContractUsingGET","parameters":[{"name":"contractCodeStr","in":"query","required":false,"style":"form","schema":{"type":"string"}},{"name":"contractType","in":"query","required":false,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hddp/contract/goods":{"get":{"tags":["contract-controller"],"summary":"查询物品列表信息","operationId":"goodsUsingGET","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«ContractGoodsResp»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hddp/contract/info":{"get":{"tags":["contract-controller"],"summary":"info","operationId":"infoUsingGET","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«ContractInfoWithOtherResp1»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hddp/contract/infowithorderstatus":{"get":{"tags":["contract-controller"],"summary":"查询合同信息&是否可下配置订单","operationId":"createConfigOrderStatusUsingGET","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«ContractInfoWithOtherResp2»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hddp/contract/owners":{"get":{"tags":["contract-controller"],"summary":"查询合同公司业主信息","operationId":"ownersUsingGET","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«ContractOwnerResp»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hddp/contract/paySuccess":{"post":{"tags":["contract-controller"],"summary":"支付成功回调","operationId":"paySuccessUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaySuccessCallbackReq"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaySuccessCallbackResp"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hddp/contract/refundSuccess":{"post":{"tags":["contract-controller"],"summary":"退款成功回调","operationId":"refundSuccessUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefundSuccessReq"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hddp/contract/sign":{"post":{"tags":["contract-controller"],"summary":"家装合同签章","operationId":"signUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignContractReq"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hddp/contract/signcallback":{"post":{"tags":["contract-controller"],"summary":"家装合同签章结果回调","operationId":"signCallbackUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignContractCallbackReq"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hddp/contract/signconfirm":{"post":{"tags":["contract-controller"],"summary":"家装合同签章确认","description":"家装合同签章确认,提交或回滚","operationId":"signConfirmUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingContractConfirmReq"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«date-time»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hddp/contract/synchirecontractcode":{"post":{"tags":["contract-controller"],"summary":"同步收房合同号","operationId":"syncHireContractCodeUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateHireContractCodeReq"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«CreateContractResp»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hddp/contract/updateContractOwnerInfo":{"post":{"tags":["contract-controller"],"summary":"更新签约人信息","description":"合同审核通过后,更新签约人信息","operationId":"updateContractOwnerInfoUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateContractOwnerInfoReq"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«boolean»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/homeDecorationContract/checkInfo":{"get":{"tags":["contract-goods-check-controller"],"summary":"updateDeliveryGoods","operationId":"updateDeliveryGoodsUsingGET","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeliveryGoodsReq"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["contract-goods-check-controller"],"summary":"updateDeliveryGoods","operationId":"updateDeliveryGoodsUsingPUT","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeliveryGoodsReq"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["contract-goods-check-controller"],"summary":"updateDeliveryGoods","operationId":"updateDeliveryGoodsUsingPOST","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeliveryGoodsReq"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["contract-goods-check-controller"],"summary":"updateDeliveryGoods","operationId":"updateDeliveryGoodsUsingDELETE","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeliveryGoodsReq"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"options":{"tags":["contract-goods-check-controller"],"summary":"updateDeliveryGoods","operationId":"updateDeliveryGoodsUsingOPTIONS","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeliveryGoodsReq"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"head":{"tags":["contract-goods-check-controller"],"summary":"updateDeliveryGoods","operationId":"updateDeliveryGoodsUsingHEAD","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeliveryGoodsReq"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"patch":{"tags":["contract-goods-check-controller"],"summary":"updateDeliveryGoods","operationId":"updateDeliveryGoodsUsingPATCH","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeliveryGoodsReq"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"trace":{"tags":["contract-goods-check-controller"],"summary":"updateDeliveryGoods","operationId":"updateDeliveryGoodsUsingTRACE","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeliveryGoodsReq"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/homeDecorationContract/goodsCheck":{"get":{"tags":["contract-goods-check-controller"],"summary":"check","operationId":"checkUsingGET","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«List«ContractGoodsCheckResp»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["contract-goods-check-controller"],"summary":"check","operationId":"checkUsingPUT","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«List«ContractGoodsCheckResp»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["contract-goods-check-controller"],"summary":"check","operationId":"checkUsingPOST","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«List«ContractGoodsCheckResp»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["contract-goods-check-controller"],"summary":"check","operationId":"checkUsingDELETE","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«List«ContractGoodsCheckResp»»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"options":{"tags":["contract-goods-check-controller"],"summary":"check","operationId":"checkUsingOPTIONS","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«List«ContractGoodsCheckResp»»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"head":{"tags":["contract-goods-check-controller"],"summary":"check","operationId":"checkUsingHEAD","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«List«ContractGoodsCheckResp»»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"patch":{"tags":["contract-goods-check-controller"],"summary":"check","operationId":"checkUsingPATCH","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«List«ContractGoodsCheckResp»»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"trace":{"tags":["contract-goods-check-controller"],"summary":"check","operationId":"checkUsingTRACE","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«List«ContractGoodsCheckResp»»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/hddp/test/attachmentAudit":{"get":{"tags":["test-controller"],"summary":"attachmentAudit","operationId":"attachmentAuditUsingGET","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«string»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hddp/test/createReceipt":{"get":{"tags":["test-controller"],"summary":"createReceipt","operationId":"createReceiptUsingGET","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«string»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/hddp/test/financeIncome":{"get":{"tags":["test-controller"],"summary":"financeIncome","operationId":"financeIncomeUsingGET_1","parameters":[{"name":"contractCode","in":"query","description":"contractCode","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Result«string»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"components":{"schemas":{"AccurateEstimatesPaymentReq":{"title":"AccurateEstimatesPaymentReq","required":["cityCode","designCostCode","signYears"],"type":"object","properties":{"cityCode":{"type":"string"},"designCostCode":{"type":"string"},"signYears":{"type":"integer","format":"int32"}}},"CompanyInfo":{"title":"CompanyInfo","type":"object","properties":{"companyCertNum":{"type":"string","description":"公司证件号"},"companyCertType":{"type":"integer","description":"公司证件类型","format":"int32"},"companyCode":{"type":"string","description":"公司代码"},"companyName":{"type":"string","description":"公司名称"}},"description":"公司数据模型"},"ContractGoodsCheckResp":{"title":"ContractGoodsCheckResp","type":"object","properties":{"dispatchNum":{"type":"number","format":"double"},"groupsName":{"type":"string"},"groupsNum":{"type":"string"},"groupsTypeCode":{"type":"string"},"isCheck":{"type":"integer","format":"int32"},"isDiff":{"type":"integer","format":"int32"},"saleNum":{"type":"number","format":"double"},"skuCode":{"type":"string"},"skuName":{"type":"string"},"spuCode":{"type":"string"},"typeName":{"type":"string"}}},"ContractGoodsResp":{"title":"ContractGoodsResp","type":"object","properties":{"amount":{"type":"number","format":"double"},"contractCode":{"type":"string"},"itemBigTypeName":{"type":"string"},"itemBrand":{"type":"string"},"itemCode":{"type":"string"},"itemGroup":{"type":"integer","format":"int32"},"itemName":{"type":"string"},"itemTaxRate":{"type":"number","format":"double"},"itemTotalPrice":{"type":"integer","format":"int64"},"itemType":{"type":"integer","format":"int32"},"itemUnitPrice":{"type":"integer","format":"int64"},"itemUnitPriceNoTax":{"type":"integer","format":"int64"},"priority":{"type":"integer","format":"int32"},"quotationsCode":{"type":"string"},"relationCode":{"type":"string"},"relationSkuCode":{"type":"string"},"roomCode":{"type":"string"},"roomName":{"type":"string"},"roomTypeCode":{"type":"string"},"unit":{"type":"string"},"zdPermission":{"type":"string"}}},"ContractInfoWithOtherResp1":{"title":"ContractInfoWithOtherResp1","type":"object","properties":{"acceptanceTime":{"type":"string","format":"date-time"},"amountCode":{"type":"string"},"buildingArea":{"type":"number","format":"double"},"busId":{"type":"string"},"cityCode":{"type":"string"},"configPayment":{"type":"integer","format":"int64"},"contractCode":{"type":"string"},"contractState":{"type":"integer","format":"int32"},"contractType":{"type":"integer","format":"int32"},"createTime":{"type":"string","format":"date-time"},"decorationPayment":{"type":"integer","format":"int64"},"degreeName":{"type":"string"},"degreeType":{"type":"integer","format":"int32"},"designCostCode":{"type":"string"},"extendedInsuranceAmount":{"type":"integer","format":"int64"},"extendedInsuranceEndTime":{"type":"string","format":"date-time"},"extendedInsurancePayment":{"type":"integer","format":"int64"},"extendedInsuranceStartTime":{"type":"string","format":"date-time"},"extendedInsuranceYears":{"type":"integer","format":"int32"},"extendedPackageVersion":{"type":"string"},"hasAgent":{"type":"integer","format":"int32"},"hireContractCode":{"type":"string"},"houseCode":{"type":"string"},"id":{"type":"integer","format":"int64"},"lastestOperTime":{"type":"string","format":"date-time"},"layoutId":{"type":"integer","format":"int64"},"layoutValue":{"type":"string"},"ownerType":{"type":"integer","format":"int32"},"payType":{"type":"integer","format":"int32"},"paymentDiscount":{"type":"number","format":"double"},"planStartDate":{"type":"string","format":"date-time"},"projectPayment":{"type":"integer","format":"int64"},"ratingAddress":{"type":"string"},"refuseTime":{"type":"string","format":"date-time"},"signTime":{"type":"string","format":"date-time"},"signatureHtmlUrl":{"type":"string"},"signatureUrl":{"type":"string"},"unSignatureHtmlUrl":{"type":"string"},"unsignatureUrl":{"type":"string"},"workPeriod":{"type":"integer","format":"int32"},"worksheetCode":{"type":"string"},"ziroomVersionId":{"type":"integer","format":"int32"}}},"ContractInfoWithOtherResp2":{"title":"ContractInfoWithOtherResp2","type":"object","properties":{"acceptanceTime":{"type":"string","format":"date-time"},"amountCode":{"type":"string"},"buildingArea":{"type":"number","format":"double"},"busId":{"type":"string"},"canCreateConfigOrder":{"type":"integer","format":"int32"},"cityCode":{"type":"string"},"configPayment":{"type":"integer","format":"int64"},"contractCode":{"type":"string"},"contractState":{"type":"integer","format":"int32"},"contractType":{"type":"integer","format":"int32"},"createTime":{"type":"string","format":"date-time"},"decorationPayment":{"type":"integer","format":"int64"},"degreeName":{"type":"string"},"degreeType":{"type":"integer","format":"int32"},"designCostCode":{"type":"string"},"extendedInsuranceAmount":{"type":"integer","format":"int64"},"extendedInsuranceEndTime":{"type":"string","format":"date-time"},"extendedInsurancePayment":{"type":"integer","format":"int64"},"extendedInsuranceStartTime":{"type":"string","format":"date-time"},"extendedInsuranceYears":{"type":"integer","format":"int32"},"extendedPackageVersion":{"type":"string"},"hasAgent":{"type":"integer","format":"int32"},"hireContractCode":{"type":"string"},"houseCode":{"type":"string"},"id":{"type":"integer","format":"int64"},"layoutId":{"type":"integer","format":"int64"},"layoutValue":{"type":"string"},"ownerType":{"type":"integer","format":"int32"},"payType":{"type":"integer","format":"int32"},"paymentDiscount":{"type":"number","format":"double"},"planStartDate":{"type":"string","format":"date-time"},"projectPayment":{"type":"integer","format":"int64"},"ratingAddress":{"type":"string"},"refuseTime":{"type":"string","format":"date-time"},"signTime":{"type":"string","format":"date-time"},"signatureHtmlUrl":{"type":"string"},"signatureUrl":{"type":"string"},"unSignatureHtmlUrl":{"type":"string"},"unsignatureUrl":{"type":"string"},"workPeriod":{"type":"integer","format":"int32"},"worksheetCode":{"type":"string"},"ziroomVersionId":{"type":"integer","format":"int32"}}},"ContractOwnerCompanyResp":{"title":"ContractOwnerCompanyResp","type":"object","properties":{"companyCertNum":{"type":"string"},"companyCertType":{"type":"integer","format":"int32"},"companyCode":{"type":"string"},"companyName":{"type":"string"}}},"ContractOwnerPersonResp":{"title":"ContractOwnerPersonResp","type":"object","properties":{"isSignUser":{"type":"integer","format":"int32"},"personCertNum":{"type":"string"},"personCertOrdercode":{"type":"string"},"personCertType":{"type":"integer","format":"int32"},"personName":{"type":"string"},"personPhone":{"type":"string"},"personType":{"type":"integer","format":"int32"},"uid":{"type":"string"}}},"ContractOwnerResp":{"title":"ContractOwnerResp","type":"object","properties":{"ownerCompanyList":{"type":"array","items":{"$ref":"#/components/schemas/ContractOwnerCompanyResp"}},"ownerPersionList":{"type":"array","items":{"$ref":"#/components/schemas/ContractOwnerPersonResp"}}}},"CreateContractReq":{"title":"CreateContractReq","type":"object","properties":{"agentInfo":{"description":"代理人主体信息","$ref":"#/components/schemas/PersonInfo"},"amountCode":{"type":"string","description":"量房单号"},"bedroomQuantity":{"type":"integer","description":"居室数量","format":"int32"},"companyInfo":{"description":"公司主体信息","$ref":"#/components/schemas/CompanyInfo"},"contractType":{"type":"integer","description":"合同类型","format":"int32"},"designCostCode":{"type":"string","description":"造价单号"},"discountVersion":{"type":"string","description":"折扣版本号"},"hasAgent":{"type":"boolean","description":"是否有代理人","example":false},"ownerInfo":{"description":"业主主体信息","$ref":"#/components/schemas/PersonInfo"},"ownerType":{"type":"integer","description":"业主类型","format":"int32"},"payType":{"type":"integer","description":"支付方式","format":"int32"},"planStartDate":{"type":"string","description":"开工时间","format":"date-time"},"ratingAddress":{"type":"string","description":"产权地址"},"userCode":{"type":"string","description":"登录用户uid"}},"description":"创建合同入参"},"CreateContractResp":{"title":"CreateContractResp","type":"object","properties":{"contractCode":{"type":"string"},"contractState":{"type":"integer","format":"int32"},"unSignatureHtmlUrl":{"type":"string"},"unSignatureUrl":{"type":"string"}}},"DeleteContractReq":{"title":"DeleteContractReq","type":"object","properties":{"contractCode":{"type":"string"},"uId":{"type":"string"}}},"DeliveryGoodsReq":{"title":"DeliveryGoodsReq","type":"object","properties":{"contractCode":{"type":"string"},"dispatchNum":{"type":"number","format":"double"},"dispatchOrderDetailId":{"type":"integer","format":"int64"},"groupsNum":{"type":"string"},"groupsTypeCode":{"type":"string"},"skuCode":{"type":"string"},"skuName":{"type":"string"}}},"ExtendedInsuranceDetail":{"title":"ExtendedInsuranceDetail","type":"object","properties":{"extendedFee":{"type":"integer","format":"int64"},"year":{"type":"integer","format":"int32"}}},"ExtendedInsuranceInfo":{"title":"ExtendedInsuranceInfo","type":"object","properties":{"details":{"type":"array","items":{"$ref":"#/components/schemas/ExtendedInsuranceDetail"}},"extendedInsuranceAmount":{"type":"integer","format":"int64"},"extendedInsuranceYears":{"type":"integer","format":"int32"},"extendedPackageVersion":{"type":"string"}}},"ListBean":{"title":"ListBean","type":"object","properties":{"billAmount":{"type":"integer","format":"int32"},"billNum":{"type":"string"},"costCode":{"type":"string"},"receivedAmount":{"type":"integer","format":"int32"}}},"OwnerInfo":{"title":"OwnerInfo","type":"object","properties":{"personCertNum":{"type":"string"},"personCertType":{"type":"integer","format":"int32"},"personName":{"type":"string"},"personPhone":{"type":"string"},"uid":{"type":"string"}}},"PaySuccessCallbackReq":{"title":"PaySuccessCallbackReq","type":"object","properties":{"list":{"type":"array","items":{"$ref":"#/components/schemas/ListBean"}},"type":{"type":"string"}}},"PaySuccessCallbackResp":{"title":"PaySuccessCallbackResp","type":"object","properties":{"error_code":{"type":"string"},"error_message":{"type":"string"},"status":{"type":"string"}}},"PayTypeResp":{"title":"PayTypeResp","type":"object","properties":{"payType":{"type":"integer","format":"int32"},"payTypeDes":{"type":"string"}}},"PaymentResp":{"title":"PaymentResp","type":"object","properties":{"discountDesc":{"type":"string"},"discountMoney":{"type":"integer","format":"int64"},"discountVersion":{"type":"string"},"extendedInsuranceInfo":{"$ref":"#/components/schemas/ExtendedInsuranceInfo"},"payType":{"type":"integer","format":"int32"},"payTypeDes":{"type":"string"},"paymentDiscount":{"type":"number","format":"double"}}},"PersonInfo":{"title":"PersonInfo","type":"object","properties":{"uid":{"type":"string"},"userCertNum":{"type":"string","description":"业主/代理人证件号"},"userCertType":{"type":"integer","description":"业主/代理人证件类型","format":"int32"},"userName":{"type":"string","description":"业主/代理人姓名"},"userPhone":{"type":"string","description":"业主/代理人电话"}},"description":"业主/代理人数据模型"},"RefundSuccessReq":{"title":"RefundSuccessReq","type":"object","properties":{"billNum":{"type":"string"},"busId":{"type":"string"},"callType":{"type":"integer","format":"int32"},"lowerType":{"type":"integer","format":"int32"},"payStatus":{"type":"integer","format":"int32"},"payTime":{"type":"string"},"paymentCanalCode":{"type":"string"},"paymentCanalName":{"type":"string"}}},"Result":{"title":"Result","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"object"},"message":{"type":"string"},"success":{"type":"boolean"}}},"Result«ContractGoodsResp»":{"title":"Result«ContractGoodsResp»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/ContractGoodsResp"},"message":{"type":"string"},"success":{"type":"boolean"}}},"Result«ContractInfoWithOtherResp1»":{"title":"Result«ContractInfoWithOtherResp1»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/ContractInfoWithOtherResp1"},"message":{"type":"string"},"success":{"type":"boolean"}}},"Result«ContractInfoWithOtherResp2»":{"title":"Result«ContractInfoWithOtherResp2»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/ContractInfoWithOtherResp2"},"message":{"type":"string"},"success":{"type":"boolean"}}},"Result«ContractOwnerResp»":{"title":"Result«ContractOwnerResp»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/ContractOwnerResp"},"message":{"type":"string"},"success":{"type":"boolean"}}},"Result«CreateContractResp»":{"title":"Result«CreateContractResp»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/CreateContractResp"},"message":{"type":"string"},"success":{"type":"boolean"}}},"Result«List«ContractGoodsCheckResp»»":{"title":"Result«List«ContractGoodsCheckResp»»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ContractGoodsCheckResp"}},"message":{"type":"string"},"success":{"type":"boolean"}}},"Result«List«PayTypeResp»»":{"title":"Result«List«PayTypeResp»»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/PayTypeResp"}},"message":{"type":"string"},"success":{"type":"boolean"}}},"Result«List«PaymentResp»»":{"title":"Result«List«PaymentResp»»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/PaymentResp"}},"message":{"type":"string"},"success":{"type":"boolean"}}},"Result«boolean»":{"title":"Result«boolean»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"boolean"},"message":{"type":"string"},"success":{"type":"boolean"}}},"Result«date-time»":{"title":"Result«date-time»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"string","format":"date-time"},"message":{"type":"string"},"success":{"type":"boolean"}}},"Result«int»":{"title":"Result«int»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"integer","format":"int32"},"message":{"type":"string"},"success":{"type":"boolean"}}},"Result«string»":{"title":"Result«string»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"string"},"message":{"type":"string"},"success":{"type":"boolean"}}},"RoughEstimatesPaymentReq":{"title":"RoughEstimatesPaymentReq","required":["cityCode","moneyAmount","signYears"],"type":"object","properties":{"cityCode":{"type":"string"},"moneyAmount":{"type":"integer","format":"int64"},"signYears":{"type":"integer","format":"int32"}}},"SignContractCallbackReq":{"title":"SignContractCallbackReq","type":"object","properties":{"busId":{"type":"string"},"message":{"type":"string"},"status":{"type":"integer","format":"int32"}}},"SignContractReq":{"title":"SignContractReq","type":"object","properties":{"certifyOrderCode":{"type":"string"},"contractCode":{"type":"string"},"signImageUrl":{"type":"string"},"uid":{"type":"string"}}},"SingContractConfirmReq":{"title":"SingContractConfirmReq","type":"object","properties":{"contractCode":{"type":"string"},"operFlag":{"type":"integer","format":"int32"},"uid":{"type":"string"}}},"UpdateContractOwnerInfoReq":{"title":"UpdateContractOwnerInfoReq","type":"object","properties":{"agentInfo":{"$ref":"#/components/schemas/OwnerInfo"},"contractCode":{"type":"string"},"hasAgent":{"type":"boolean"},"ownerInfo":{"$ref":"#/components/schemas/OwnerInfo"},"ownerType":{"type":"integer","format":"int32"},"ratingAddress":{"type":"string"}}},"UpdateHireContractCodeReq":{"title":"UpdateHireContractCodeReq","type":"object","properties":{"decorateContractCode":{"type":"string"},"hireContractCode":{"type":"string"}}}}}}